<header>
  <span class="flowers">
    <span class="flower">&nbsp;<a href="/" style="text-decoration: none;">❀</a></span>
    <span class="flower">&nbsp;✿</span>
    <span class="flower">&nbsp;❀</span>
    <span class="flower">&nbsp;✿</span>
  </span>
  <div class="title-container">

    <span class=log-in-container">  <br>

      <% if (typeof user !== 'undefined') {%>
          <span class=""><!--was logged-in randomborder-->
            <a class='logged-in button random-border' href='/you'><%= (typeof user !== 'undefined') ? user.username : ''%></a>
          </span>
      <% } else { %>
        <span class="log-in random-border">
          Log In
        </span>
        <span class="log-in-form">
          <form action="/log-in" method="POST">
            <!-- <label for="username">U:</label> -->
            <input name="username" placeholder="username" type="text" class="random-border"/>
            <!-- <label for="password">P:</label> -->
            <br><input name="password" placeholder="password" type="password" class="random-border"/>
            <br><button class="random-border">Log In</button>
          </form>
        </span>
      <% } %>
      <script src="/javascripts/login-header-script.js"></script>
    </span>

  </div>

</header>
