<header>
  <span class="flowers">
    <span class="flower">&nbsp;❀</span>
    <span class="flower">&nbsp;✿</span>
    <span class="flower">&nbsp;❀</span>
    <span class="flower">&nbsp;✿</span>
  </span>
  <div class="title-container">

    <span class="log-in">
      Log In
    </span>

  </div>

</header>
