<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to "Share Your <span class="feelings-word">Feelings</span>",</p>
    <p>A webspace where you can Share Your <span class="feelings-word">Feelings</span>.</p>
    <p>So go ahead! &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Share Your <span class="feelings-word">Feelings</span>.</p>
    <p>We'd really love for you to...<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Share Your <span class="feelings-word">Feelings</span>.</p>

    <script src="/javascripts/feelings-word-move.js"></script>
  </body>
</html>
