<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('head'); %>

  </head>
  <body>
    <%- include('header'); %>
    <svg height="50" width="130"><path></path></svg>
    <main>
    <!-- <h1><%= title %></h1> -->
    <h1>Share Your <span class="feelings-word">Feelings</span></h1>
    <p>Welcome to "Share Your <span class="feelings-word">Feelings</span>"&trade;<sup>&reg;&copy;</sup>,</p>
    <p>A safe, secure webspace where you can Share Your <span class="feelings-word">Feelings</span>.</p>
    <p>So go ahead! &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Share Your <span class="feelings-word">Feelings</span>.</p>
    <p>Everyone appreciates it when you...</p><p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Share Your <span class="feelings-word">Feelings</span>.</p>

    <hr>
    <div class="public-feeling-cont">
    <div class="public-feeling">I feel happy about things!</div>
</div>
    <div class="public-feeling-cont">
    <div class="public-feeling">I feel angry about fake feelings, like these!</div>
</div>
    </main>
    <script src="/javascripts/feelings-word-move.js"></script>
  </body>
</html>
