<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('head'); %>

  </head>
  <body>
    <%- include('header'); %>

    <main>
    <!-- <h1><%= title %></h1> -->
    <h1><span class='waving-hand'>&#x270B;</span></h1>
    <p>Okay, that's you logged out.</p>
    <p>See ya!</p>

    <br><p><a href="/" class='underline random-border'>(Go home.)</a></p>


    <br><br><hr><br>

    </main>
    <script src="/javascripts/bg-flowers.js"></script>
  </body>
</html>
