<!DOCTYPE html>
<html>
  <head>
    <title>Sorry!</title>
    <%- include('head'); %>

  </head>
  <body>
    <%- include('header'); %>

    <main>
    <h1><span class='still-hand'>&#x270c;</span></h1>
    <p>Sorry!</p>
    <p><%=message%></p>
    <p><a href="/sign-up" class="button random-border">Sign Up</a> or log in.</p>



    <br><br><hr><br>

    </main>
    <script src="/javascripts/bg-flowers.js"></script>
  </body>
</html>
