<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('head'); %>

  </head>
  <body>
    <%- include('header'); %>

    <main>
    <h1><span class='bouncing-hand'>&#x1f91d;</span></h1>
    <p>Welcome aboard!</p>
    <p>We're so glad to have you, <strong><%=username%></strong>.</p>
    <p>Now all you've got to do is log in up there <span class='pointing-hand'>&#9757;</span>, and you'll be good to go.</p>



    <br><br><hr><br>

    </main>
    <script src="/javascripts/bg-flowers.js"></script>
  </body>
</html>
