:root {
  --stable: brown;
  --happy: gold;
  --angry: tomato;
  --colour4: white;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

main , header {
  max-width: 600px;
  margin: auto;

  /* position: static; */
}

header {text-align: right; position: relative;}

.flowers {position: absolute; font-size: 26px; color: pink; text-align: left; left: 0; letter-spacing: 1em; left: -40px;}

.flower:nth-of-type(even) {top: -10px; position: relative; color: gold; display:inline-block;}
.flower:nth-of-type(1) {transform: ; display: inline-block;}
.flower:nth-of-type(3) {animation-delay: 2s; }

.flower {animation: fullrotate linear 10s infinite 0s; display:inline-block;}

.flower:nth-of-type(4) {animation-delay: -10s; animation-duration: 18s; animation-direction: reverse;}
.flower:nth-of-type(2) {animation-delay: -10s; animation-duration: 22s;}
.flower:nth-of-type(3) {animation-delay: -2s; animation-duration: 24s;}

.bg-flower {position:absolute; font-size: 20px;}

@keyframes fullrotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* main::after {left: -20px;} main::before {right: 20px;}
main::after, main::before {content: ''; width: 1px; height: 100%; background-image: linear-gradient(to bottom, white, black, black, white); position: absolute; top: 0;} */

h1 {font-weight: 900; font-size: 2em;}

.feelings-word {}

hr {border: none; border-bottom: 0px dotted coral; }

.log-in, .logged-in {border: 2px solid coral; padding: 2px 4px; cursor: pointer; border-radius: 6px; position: relative; box-shadow: 0px 2px 2px gray; transition: 0.2s; position: absolute; right: 0; top: 0px;}
.log-in:hover, .logged-in:hover {box-shadow: 0px 0px 2px gray; top: 2px;}

.log-in:active, .logged-in:active {top: 4px;}

button {font: inherit; background-color: white;}
button, .button {border: 2px solid coral; padding: 2px 4px; cursor: pointer; border-radius: 6px; position: relative; box-shadow: 0px 2px 2px gray; transition: 0.2s;}
button:hover, .button:hover {box-shadow: 0px 0px 2px gray; top: 2px;}

button:active, .button:active {top: 4px;}

.log-in-form input, .sign-up-form input {border: 2px solid coral; padding: 2px 4px; border-radius: 6px; box-shadow: 0px 1px 2px gray; font: inherit; }

.log-in-form input, .log-in-form button, .sign-up-form input:nth-of-type(2), .sign-up-form button {margin-top: 4px;}

.log-in-form {display: none; position: absolute; right: 0; top: 0;}

.sign-up-form {text-align: right;}

.fancy-underline {text-decoration: none; border-bottom: 2px solid coral;}

.hidden-field {display: none;}
/* .log-in-container {min-height: 1em;} */


a.button {color: black; text-decoration: none;}

svg path {fill: none; stroke: coral; width: 120px; stroke-width: 2px; overflow-visible;}
hr { height: 20px;
/* background-color: #DFDBE5; */
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='20' viewBox='0 0 80 20'%3E%3Cpath stroke='coral' fill-opacity='0' stroke-width='4' d='M 0 10 Q 10 0 20 0 Q 30 0 40 10 Q 50 20 60 20 Q 70 20 80 10'%3E%3C/path%3E%3C/svg%3E");
}

.public-feeling {border-radius: 6px;
  border: 2px solid coral; border-width: 2px 2px 0 2px; border-radius: 6px 6px 6px 0 ; display: inline-block; padding: 2px 4px; position: relative; border-left:;

  }

.public-feeling-cont {margin: 10px 0;}

/* .public-feeling::after, */
 .public-feeling::before {content: ''; position: absolute; top: 2px; width: 2px; background-image: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,1));   height: calc(100% - 2px);}
.public-feeling::after {left: calc(100% - 0px);}
.public-feeling::before {right: calc(100% - 0px); background-image: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,1) 50%);}

.public-feeling-author {font-weight: 900; text-align: right; filter: blur(3px);}
.public-feeling-msg {filter: blur(4px);}

/* .public-feeling-msg::after {content:'';position: absolute; top: 2px; width: 1px; border-color: inherit;   height: calc(100% - 2px);} */

/* .public-feeling {border-radius: 6px; border-top: 2px solid coral;} */
